.container {
  @apply relative;
}

.spinner {
  @apply border rounded-full animate-spin aspect-square;

  &.primary {
    border-color: rgba(0, 0, 0, 0.2);
    border-left-color: rgb(0, 0, 0);
  }

  &.secondary {
    border-color: rgba(255, 255, 255, 0.2);
    border-left-color: rgb(255, 255, 255);
  }
}
