version: "3.9"

networks:
  traefik:
    name: traefik
  database:

volumes:
  postgres:

services:
  postgres:
    image: postgres:15.3-alpine
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - database
    restart: unless-stopped
    healthcheck:
      test: pg_isready -q
      start_period: 5s
      interval: 5s

  app:
    depends_on:
      postgres:
        condition: service_healthy
    build:
      x-bake:
        output: type=docker,dest=./${COMPOSE_PROJECT_NAME}-app.tar.gz
    image: ${COMPOSE_PROJECT_NAME}-app:latest
    volumes:
      - ./public:/app/public
    networks:
      - database
      - traefik
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`${DOMAIN:-${COMPOSE_PROJECT_NAME}.localhost}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=web
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-app.loadbalancer.server.port=3000
