.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px;
  background-color: #ffffff;
}

.languages {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);

  .item {
    padding: 8px 16px;
    border-left: 1px solid #e5e7eb;
    background-color: #ffffff;
    color: #111827;
    font-weight: 500;

    &:first-child {
      border-left: 0;
    }

    &:hover {
      background-color: #f3f4f6;
      color: #1d4ed8;
    }

    &.active {
      background-color: #2563eb;
      color: #ffffff;

      &:hover {
        background-color: #1d4ed8;
        color: #ffffff;
      }
    }
  }
}
