.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
  gap: 8px;
  padding: 16px;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  color: #3b82f6
}

.description {
  font-size: 1.5rem;
  font-weight: 600;
  color: #111827;
}